:root {
  --index: calc(1vw + 1vh);
}

/*Null*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  height: 100%;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
  cursor: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Older Safari and Chromium */
}
html a,
body a {
  cursor: none;
}
html::selection,
body::selection {
  background: #6eeae2;
  color: black;
  text-shadow: none;
}
html::-moz-selection,
body::-moz-selection {
  background: #6eeae2;
  color: #eee;
  text-shadow: none;
}

body {
  line-height: 1;
  font-size: 16px;
  background: #050505;
  scroll-behavior: smooth;
  font-family: "Lora", sans-serif;
}
@media (max-width: 1305px) {
  body {
    font-size: calc(14px + 2 * (100vw - 320px) / 985);
  }
}

body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-height: -webkit-fill-available;
}

.page {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1305px;
  margin: 0 auto;
}

@media (max-width: 61.9988rem) {
  [class*=__container] {
    max-width: 53.125rem;
  }
}
@media (max-width: 47.9988rem) {
  [class*=__container] {
    max-width: none;
  }
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  object-fit: cover;
}

.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #050505;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader__container {
  width: 100%;
  max-width: 50%;
}
.preloader__loading {
  position: relative;
  height: 0.625rem;
}
.preloader__loading-total {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(176, 186, 197);
}
.preloader__loading-current {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #6eeae2;
}

.cursor {
  pointer-events: none;
  position: fixed;
  top: 0rem;
  left: 0rem;
  padding: 0.625rem;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 2000;
}
@media (max-width: 61.9988rem) {
  .cursor {
    display: none;
  }
}
.cursor._first-move {
  top: -1.25rem;
  left: -1.25rem;
}

.header {
  padding-block: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 100;
  transform: translate(0, -120%);
}
@media (max-width: 1305px) {
  .header {
    padding-block: calc(15px + 5 * (100vw - 320px) / 985);
  }
}
@media (max-width: 61.9988rem) {
  .header {
    display: none;
  }
}
.header-menu__list {
  display: flex;
  align-items: center;
  gap: 64px;
  justify-content: center;
}
@media (max-width: 1305px) {
  .header-menu__list {
    gap: calc(30px + 34 * (100vw - 320px) / 985);
  }
}
.header-menu__link {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #fff;
  font-size: 12px;
  font-family: "Cinzel", sans-serif;
  padding: 1rem;
  letter-spacing: 0.4em;
  display: block;
}
@media (max-width: 1305px) {
  .header-menu__link {
    font-size: calc(8px + 4 * (100vw - 320px) / 985);
  }
}
.header-menu__link span {
  display: inline-block;
  pointer-events: none;
}

@keyframes fogAnim {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-200vw, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes wheel-up-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 1.125rem);
    opacity: 0;
  }
}
.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 40px;
}
@media (max-width: 1305px) {
  .hero {
    padding-top: calc(70px + 30 * (100vw - 320px) / 985);
  }
}
@media (max-width: 1305px) {
  .hero {
    padding-bottom: calc(20px + 20 * (100vw - 320px) / 985);
  }
}
.hero__back {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  opacity: 0;
}
.hero__back-decor {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  background: radial-gradient(circle at center center, #171717 0, #050505 58%);
  z-index: 5;
}
.hero__back-fog {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  z-index: 10;
  height: 100vh;
  width: 100vw;
}
.hero__back-fog img {
  position: absolute;
  width: 300vw;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  offset-position: center;
}
.hero__back-fog img:first-child {
  animation: fogAnim 120s linear infinite;
}
.hero__back-fog img:nth-child(2) {
  animation: fogAnim 60s linear infinite;
}
.hero__scoll-down {
  position: absolute;
  bottom: 1.875rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 2.25rem;
  height: 4rem;
  border: 0.125rem solid #6eeae2;
  border-radius: 1.875rem;
  z-index: 50;
  text-align: center;
}
.hero__scoll-down span {
  animation: 1.2s ease infinite wheel-up-down;
  position: relative;
  display: inline-block;
  top: 0.25rem;
  width: 0.1875rem;
  height: 0.625rem;
  background: #6eeae2;
  border-radius: 0.625rem;
}
.hero__container {
  flex: 1 1 auto;
  position: relative;
  z-index: 50;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero__title {
  font-family: "Cinzel", sans-serif;
  color: #6eeae2;
}
.hero__title span {
  display: block;
}
.hero__title-small {
  font-size: 32px;
  line-height: 0;
  font-weight: 100;
  letter-spacing: 0.5rem;
  font-style: italic;
  margin-bottom: 2.8125rem;
}
@media (max-width: 1305px) {
  .hero__title-small {
    font-size: calc(20px + 12 * (100vw - 320px) / 985);
  }
}
.hero__title-big {
  margin-bottom: 0.625rem;
  font-weight: 100;
  letter-spacing: 1.6rem;
  font-size: 64px;
  position: relative;
  padding-bottom: 40px;
}
@media (max-width: 1305px) {
  .hero__title-big {
    font-size: calc(35px + 29 * (100vw - 320px) / 985);
  }
}
@media (max-width: 1305px) {
  .hero__title-big {
    padding-bottom: calc(20px + 20 * (100vw - 320px) / 985);
  }
}
.hero__title-big:after {
  content: "";
  position: absolute;
  left: calc(50% - 1.5625rem);
  bottom: 0;
  width: 3.125rem;
  height: 0.125rem;
  background: #6eeae2;
}
.hero__subtitle {
  max-width: 43.75rem;
  margin: 0 auto;
  font-size: 0.8125rem;
  letter-spacing: 0rem;
  line-height: 1.75rem;
  margin-top: 3.125rem;
  color: rgb(176, 186, 197);
  text-shadow: none;
}
@media (max-width: 81.25rem) {
  .hero__subtitle {
    color: rgb(219, 224, 230);
    position: relative;
  }
  .hero__subtitle::after {
    content: "";
    position: absolute;
    width: 125%;
    height: 125%;
    top: -12.5%;
    left: -12.5%;
    background: rgb(112, 128, 144);
    filter: blur(6.25rem);
    z-index: 1;
  }
  .hero__subtitle p {
    position: relative;
    z-index: 2;
  }
}
.hero__body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.hero__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hero__item {
  position: absolute;
  max-width: 21.875rem;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 47.9988rem) {
  .hero__item {
    max-width: 100%;
    padding: 1.875rem;
  }
}
.hero__item::after {
  content: "";
  position: absolute;
  width: 125%;
  height: 125%;
  top: -12.5%;
  left: -12.5%;
  background: rgba(112, 128, 144, 0.8);
  filter: blur(6.25rem);
  z-index: 1;
}
@media (min-width: 47.9988rem) {
  .hero__item-01 {
    top: 9.375rem;
    left: 9.375rem;
  }
}
@media (max-width: 47.9988rem) {
  .hero__item-01 {
    bottom: 0;
    left: 0;
  }
}
@media (min-width: 47.9988rem) {
  .hero__item-02 {
    top: 0.9375rem;
    right: 1.875rem;
  }
}
@media (max-width: 47.9988rem) {
  .hero__item-02 {
    bottom: 0;
    left: 0;
  }
}
@media (min-width: 47.9988rem) {
  .hero__item-03 {
    bottom: 50%;
    right: 1.875rem;
  }
}
@media (max-width: 47.9988rem) {
  .hero__item-03 {
    bottom: 0;
    left: 0;
  }
}
.hero__label {
  color: #6eeae2;
  font-size: 32px;
  padding-bottom: 0.9375rem;
  margin-bottom: 30px;
  padding-bottom: 0.625rem;
  position: relative;
  font-family: "Cinzel";
  position: relative;
  z-index: 2;
  font-weight: 100;
  letter-spacing: 6px;
}
@media (max-width: 1305px) {
  .hero__label {
    font-size: calc(16px + 16 * (100vw - 320px) / 985);
  }
}
@media (max-width: 1305px) {
  .hero__label {
    margin-bottom: calc(15px + 15 * (100vw - 320px) / 985);
  }
}
@media (max-width: 1305px) {
  .hero__label {
    letter-spacing: calc(3px + 3 * (100vw - 320px) / 985);
  }
}
.hero__label::after {
  content: "";
  position: absolute;
  width: 3.125rem;
  height: 0.125rem;
  top: 100%;
  left: 0;
  background: #6eeae2;
}
.hero__text {
  position: relative;
  z-index: 2;
  color: #fff;
  line-height: 1.5;
  font-size: 16px;
}
@media (max-width: 1305px) {
  .hero__text {
    font-size: calc(14px + 2 * (100vw - 320px) / 985);
  }
}

.footer {
  background: #050505;
  padding: 1.875rem 0.9375rem;
  position: absolute;
  bottom: 0;
  transform: translate(0, 120%);
  left: 0;
  width: 100%;
  z-index: 200;
  font-size: 16px;
}
@media (max-width: 1305px) {
  .footer {
    font-size: calc(14px + 2 * (100vw - 320px) / 985);
  }
}
.footer__container {
  color: #fff;
  display: flex;
  justify-content: center;
}
.footer__list {
  font-family: Cinzel, sans-serif;
}
.footer__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.footer__link {
  text-decoration: underline;
}